
<div class="container">
    <p id="notice"><%= notice %></p>

    <h3 class="center">A R T I S T S</h3>
    <hr/>
    <% if user_signed_in? %>
      <a class="btn btn-lg" <%= link_to 'Add Artist', new_artist_path %> </a>

    <% end %>
    <div class="row">

       <% @artists.each do |artist| %>
      <div class="col-md-4">
        <%= link_to image_tag(artist.image.url), artist, :class => "blur" %>
        <!-- <%= link_to image_tag(artist.image.url(:medium)), artist, :class => "blur" %> -->
        <p class="lead center">

        <%= artist.name %>
        
        <% if user_signed_in? %>
               | <%= link_to 'Edit', edit_artist_path(artist) %>
               | <%= link_to 'Delete', artist, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
        </p>
      </div>
        <% end %>
    </div>

    <br>

</div>

<br/>
<br/>
<br/>
<br/>
<br/>

