<div class="container">
	<!-- <p id="notice"><%= notice %></p> -->
		<%= link_to '< Back', artists_path %>	

	<div class="center">
		<h3> <%= @artist.name %></h3>
		<hr/>

		<%= image_tag @artist.image.url,:class => "showartistimg" %>

		<% if user_signed_in? %>
			<p><%= link_to 'Edit', edit_artist_path(@artist) %> </p>

			<% end %>
	</div>
</div>


<br/>
<br/>
<br/>
<br/>
<br/>

