<p id="notice"><%= notice %></p>

<%= image_tag @artist.image.url(:medium) %>

<p>
  <strong>Name:</strong>
  <%= @artist.name %>
</p>

<% if user_signed_in? %>
	<%= link_to 'Edit', edit_artist_path(@artist) %> |
	<% end %>
<%= link_to 'Back', artists_path %>



