<div class="container">
	<!-- <p id="notice"><%= notice %></p> -->

	<%= link_to '< Back', releases_path %>	
		<% if user_signed_in? %>
			| <%= link_to 'Edit', edit_release_path(@release) %> 
			<% end %>

<div class="row container center">
	 <br/>
	 
	 <h3> <%= @release.name %></h3>
	

	 <div class="row">
	 <br/>
	 <br/>
		<!-- <div class="col-md-6 col-md-offset-3">
				<hr/>
		</div> -->
		<div class="col-md-10">
			<div class="col-md-6 pull-left col-sm-3">
				 <!-- <%= image_tag @release.image.url%>  -->
				<div id="player">
	
				</div>
              <div class="center">
               <p> by <%= @release.artist_name %></p>

              <p>Share with
          		 <%= link_to (image_tag 'logotype30.png',size: "30x30"),"http://www.facebook.com/sharer.php?u=URL"+ @release.name + " from Soundofkla now on http://soundofkla.herokuapp.com"+ request.fullpath, :target => :blank %>
          		 <%= link_to (image_tag 'socialnetwork64.png',size: "30x30"),"http://twitter.com/home?status=Check out "+ @release.name + " from @soundofkla now on http://soundofkla.com"+ request.fullpath, :target => :blank %>
          		  <%= link_to (image_tag 'tumblr2.png',size: "30x30"),"https://tumblr.com/share"+ @release.name + " from @soundofkla now on http://soundofkla.com"+ request.fullpath, :target => :blank %>
				</p></div>
          
			</div>

			<div class="col-md-6 ">
					<p><%= @release.details %></p>
			  	
			  	<div class="">	
			  		<br/>
			  		<p class="lead">CREDITS </p>
			  		<%= @release.credits %>
				</div>

			</div>
		</div>
	</div>

</div>
</div>



<br/>
<br/>
<br/>
<br/>
<br/>

<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-556af2db222ada62" async="async"></script>

   
<script type="text/JavaScript">
  SC.oEmbed('<%= @release.link %>', {color: "ff0066"},  document.getElementById("player"));
</script>
