 <div class="container">

      <div class="row">
      
        <div class="footer center">
        <ul>
      		<li><%= link_to (image_tag 'twitter3.png',size: "25x25"), "https://twitter.com/soundofkla", :target => "_blank" %></li>
      		<li><%= link_to (image_tag 'soundcloud6.png',size: "25x25"), "https://www.facebook.com/Soundofkla", :target => "_blank" %></li>
          <li><%= link_to (image_tag 'facebook55.png', size: "25x25"), "https://soundcloud.com/sokmusic", :target => "_blank" %></li>
          <li><%= link_to (image_tag 'instagram15.png', size: "25x25"), "https://instagram.com/soundofkla/", :target => "_blank" %></li>
      		<li><%= link_to (image_tag 'youtube1.png', size: "25x25"), "https://www.youtube.com/user/Soundofkla", :target => "_blank" %></li>
      	</ul>
      		<p class="text-center lead">Sound Of Kla</p>
        </div>
      </div>

 </div>