     <div class="nav">
     <nav class="navbar navbar-static-top navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header pull-left">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
 <a class="navbar-brand" href="/">S o u n d O f K l a</a>
  </div>


  <div class="collapse navbar-collapse navbar-ex1-collapse pull-right">
    <ul class="nav navbar-nav">
      <li><%= link_to "About", about_path %></li> 
      <li><%= link_to "Artists", artists_path %></li>
      <li><%= link_to "Releases", releases_path %></li>
      <li><%= link_to "Events", events_path %></li>
      <li><%= link_to "Blog",  "https://medium.com/@Sajeezy" %></li> 
      <li><%= link_to "Contact", contact_path %></li>
     
    </ul>
  </div><!-- /.navbar-collapse -->

    </div>
    </nav>
  </div>





